<div class="col-sm-3 col-md-2 sidebar">
	<ul class="nav nav-pills nav-stacked">
		<li {{#contentCheck current 'user'}}class="active"{{/contentCheck}}><a href="/user">BENUTZER</a></li>
		<li {{#contentCheck current 'client'}}class="active"{{/contentCheck}}><a href="/kunde/">BETRIEB</a></li>
		<li {{#contentCheck current 'order'}}class="active"{{/contentCheck}}><a href="/bestellungen">BESTELLUNGEN</a></li>
	</ul>
</div>