<div class="col-sm-3 col-md-2 sidebar">
	<ul class="nav nav-pills nav-stacked">
		<li {{#contentCheck current 'clients'}}class="active"{{/contentCheck}}><a href="/admin/kunden">KUNDEN</a></li>
		<li {{#contentCheck current 'user'}}class="active"{{/contentCheck}}><a href="/admin/user">BENUTZER</a></li>
		<li {{#contentCheck current 'programms'}}class="active"{{/contentCheck}}><a href="/admin/programme">PROGRAMME</a></li>
	</ul>
</div>