<div class="col-sm-3 col-md-2 sidebar">
	<ul class="nav nav-pills nav-stacked">
		<li {{#contentCheck current 'mypoints'}}class="active"{{/contentCheck}}><a href="/meinepunkte">Meine QPoints</a></li>
		{{#contentCheck current 'program'}}
		<li class="active"><a href="#">Programm</a></li>
		{{/contentCheck}}
		{{#contentCheck current 'customer'}}
		<li class="active"><a href="#">Betrieb</a></li>
		{{/contentCheck}}
		<li {{#contentCheck current 'news'}}class="active"{{/contentCheck}}><a href="/meinepunkte/news">Botschaften</a></li>
		<li {{#contentCheck current 'scan'}}class="active"{{/contentCheck}}><a href="/meinepunkte/scan">QPoint erfassen</a></li>
	</ul>
</div>