<div class="col-sm-3 col-md-2 sidebar">
	<ul class="nav nav-pills nav-stacked">
		<li {{#contentCheck current 'myPrograms'}}class="active"{{/contentCheck}}><a href="/programm">ÜBERSICHT</a></li>
		<li {{#contentCheck current 'myReels'}}class="active"{{/contentCheck}}><a href="/rollen">ROLLEN</a></li>
		<li {{#contentCheck current 'myNews'}}class="active"{{/contentCheck}}><a href="/news">BOTSCHAFTEN</a></li>
	</ul>
</div>