<!doctype html>
<html lang="en-US">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="generator" content="Sublime Text 2" />

	<title>QPoints</title>
	<!-- <link rel='stylesheet' id='responsive-style-css'  href='css/CSS.css' type='text/css' media='all' /> -->
</head>
<body>
	<div id="wrapper">
		{{{body}}}
	</div>
	
</body>
</html>