<script type="text/javascript">
    function checkForm(){
        var field1 = document.getElementById('fieldPassword');
        var field2 = document.getElementById('fieldPassword2');
        var email = document.getElementById('fieldUserName');
        var AlertPWUsername = document.getElementById('FieldAltertPWUsername');
        var AlertPWUnconfirmed = document.getElementById('FieldAltertPWUnconfirmed');
        if(field2.value === email.value) {
            AlertPWUsername.style.display = "block";
            field2.value = "";
            field1.value = "";
            setTimeout((function() { field1.focus() }), 0);
        } else {
            AlertPWUsername.style.display = "none";
        }           
        if(!(field2.value === field1.value)) {
        AlertPWUnconfirmed.style.display = "block";
        field2.value = "";
        setTimeout((function() { field2.focus() }), 0);
        } else {
            AlertPWUnconfirmed.style.display = "none";
        }
    };
</script>
<h4>Anlage eines neuen Users f체r {{customerCompany}}</h4>

<div class="formContainer">
    <form class="form-horizontal productsForm" role="form" action="/user/anlegen" method="POST">
        <input type="hidden" name="customer" value='{{actualCustomerId}}'>
        <div class="form-group">
            <label for="fieldUserName" class="col-sm-2 control-label">Username (email):</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" required id="fieldUserName" name="username">
            </div>
        </div>
        <div class="form-group">
            <label for="fieldPassword" class="col-sm-2 control-label">Passwort</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" required id="fieldPassword" name="password">
                <input type="password" class="form-control" required id="fieldPassword2" name="password2" onchange="return checkForm();">
                <p class="bg-danger" id="FieldAltertPWUsername" style="display: none;">Warnung: Passwort und Username d체rfen nicht identisch sein</p>
                <p class="bg-danger" id="FieldAltertPWUnconfirmed" style="display: none;">Warnung: Die Best채tigung des Passwortes waren nicht identisch. Bitte geben Sie diese erneut ein</p>
            </div>
        </div>
        <div class="form-group">
            <label for="fieldFirstName" class="col-sm-2 control-label">Vorname</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" required id="fieldFirstName" name="firstName">
            </div>
        </div>
        <div class="form-group">
            <label for="fieldLastName" class="col-sm-2 control-label">Nachname</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" required id="fieldLastName" name="lastName">
            </div>
        </div>
        <div class="form-group">
            <label for="fieldGender" class="col-sm-2 control-label">Frau/Mann</label>
            <div class="col-sm-4">
                <select class="form-control" name="gender" id="fieldGender">
                    <option value="0">Nicht angeben</option>
                    <option value="1">Weiblich</option>
                    <option value="2">M채nnlich</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-default">Anlegen</button>
            </div>
        </div>
        <script type="text/javascript">document.getElementById('fieldUserName').focus();</script>
    </form>
</div>