<script type="text/javascript">
    function checkForm(){
        var field1 = document.getElementById('fieldPassword');
        var field2 = document.getElementById('fieldPassword2');
        var email = document.getElementById('fieldEmail');
        var AlertPWUsername = document.getElementById('FieldAltertPWUsername');
        var AlertPWUnconfirmed = document.getElementById('FieldAltertPWUnconfirmed');
        if(field2.value === email.value) {
            AlertPWUsername.style.display = "block";
            field2.value = "";
            field1.value = "";
            setTimeout((function() { field1.focus() }), 0);
        } else {
            AlertPWUsername.style.display = "none";
        }           
        if(!(field2.value === field1.value)) {
        AlertPWUnconfirmed.style.display = "block";
        field2.value = "";
        setTimeout((function() { field2.focus() }), 0);
        } else {
            AlertPWUnconfirmed.style.display = "none";
        }
    };
</script>
<h3>Neuer Kunde</h3>

<div class="formContainer">
    <form class="form-horizontal newsletterForm" role="form" <!-- action="/kunden/anmelden" method="POST" -->>
        <div class="form-group">
            <label for="fieldNr" class="col-sm-2 control-label">Kunden Nr</label>
            <div class="col-sm-4">
                <div type="text" class="form-control" id="fieldNr">{{neueNr}}</div>
                <input type="hidden" name="nr" value="{{neueNr}}">
            </div>
        </div>
        <div class="form-group">
            <label for="fieldCompany" class="col-sm-2 control-label">Firma</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" required id="fieldCompany" name="company">
            </div>
        </div>
        <div class="form-group">
            <label for="fieldFirstName" class="col-sm-2 control-label">Vorname</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" required id="fieldFirstName" name="firstName">
            </div>
        </div>
        <div class="form-group">
            <label for="fieldLastName" class="col-sm-2 control-label">Nachname</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" required id="fieldLastName" name="lastName">
            </div>
        </div>
        <div class="form-group">
            <label for="fieldEmail" class="col-sm-2 control-label">Email (= Username)</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" required id="fieldEmail" name="email">
            </div>
        </div>
        <div class="form-group">
            <label for="fieldPassword" class="col-sm-2 control-label">Passwort</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" required id="fieldPassword" name="password">
                <input type="password" class="form-control" required id="fieldPassword2" name="password2" onchange="return checkForm();">
                <p class="bg-danger" id="FieldAltertPWUsername" style="display: none;">Warnung: Passwort und Username dürfen nicht identisch sein</p>
                <p class="bg-danger" id="FieldAltertPWUnconfirmed" style="display: none;">Warnung: Die Bestätigung des Passwortes waren nicht identisch. Bitte geben Sie diese erneut ein</p>
            </div>
        </div>
        <div class="form-group">
            <label for="fieldAddress1" class="col-sm-2 control-label">Adresse</label>
            <div class="col-sm-4">
				<input type="text" class="form-control" id="fieldAddress1" name="address1">
                <input type="text" class="form-control" id="fieldAddress2" name="address2">
            </div>
			<br>
        </div>
        <div class="form-group">
            <label for="fieldCity" class="col-sm-2 control-label">Stadt</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="fieldCity" name="city">
            </div>
        </div>
        <div class="form-group">
            <label for="fieldState" class="col-sm-2 control-label">Bundesland</label>
            <div class="col-sm-4">
				<select id="fieldState" name="state">
					<option value="NRW">Nordrhein-Westfalen</option> <option value="HE">Hessen</option>
					<option value="BAY">Bayern</option> <option value="NIE">Niedersachsen</option>
				</select>
            </div>
        </div>
        <div class="form-group">
            <label for="fieldZip" class="col-sm-2 control-label">PLZ</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="fieldZip" name="zip">
            </div>
        </div>
        <div class="form-group">
            <label for="fieldPhone" class="col-sm-2 control-label">Tefl Nr</label>
            <div class="col-sm-4">
                <input type="phone" class="form-control" id="fieldPhone" name="phone">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-default">Anmelden</button>
            </div>
        </div>
    </form>
</div>